
<!DOCTYPE html>
<html lang ='eng'>
<head>
  
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<title> my diary</title> 
   <style>


     footer#page_footer{
clear: both;
width: 100%;
display: block;
text-align: center;
}
These
body{background-color: rgb(108, 172, 23);}
tr:nth-child(even)
{background-color: blueviolet;}

</style>

<nav>
    <ul>
        <li><a href="/">Latest Tracks </a></li>
        <li><a href="/">Classics</a></li>
    </ul>
</nav>
<section id="Post"></section>
</section>
</head>
<body>
    <input type="text" class="form-control" placeholder="Text input">
    <div class="container"></div>

</div>
<div class="jumbotron">
    <h1> Shobie's world</h1>
</div>

   
<button class ="btn btn-danger" type ="button" name="button">Gospel</button>

<button class ="btn btn-primary" type ="button" name="button">Hip Hop</button>

<button class ="btn btn-success" type ="button" name="button">videos</button>
<button class ="btn btn-submit" type ="button" name="button">Photos</button></br>
<h1> Top teams in Zambia</h1>

        <h2> log</h2>
<table>
    <table border="2">
     <col>
    <col span="1" style="background-color: blue;">
    <col style="background-color: blueviolet;">
    <col style="background-color: rgb(45, 118, 121);">
    <col span="1" style="background-color: cadetblue;">
    <col style="background-color: rgb(91, 76, 105);">
    <col style="background-color: rgb(132, 193, 196);">
    
</col>

    <tr>
        <th>Post team</th>
        <th>P</th>
        <th>W</th>
        <th>D</th>
        <th>L</th>
        <th>GD</th>


<ul>
        <li><a href="2010/08">August 2010</a></li>
        <li><a href="2010/07">July 2010</a></li>
        <li><a href="2010/06">June 2010</a></li>
        <li><a href="2010/05">May 2010</a></li>
        <li><a href="2010/04">April 2010</a></li>
        <li><a href="2010/03">March 2010</a></li>
        <li><a href="2010/02">February 2010</a></li>
        <li><a href="2010/01">January 2010</a></li>
        </ul>
        </nav>
        </section>
</body>
<footer id="page_footer">
    <p>&copy; 2020 Shobie's World</p>
    <nav>
    <ul>
    <li><a href="http://Shobie/">Home</a></li>
    <li><a href="about">About</a></li>
    <li><a href="terms.html">Terms of Service</a></li>
    <li><a href="privacy.html">Privacy</a></li>
    </ul>
    </nav>
    </footer>
</head>

</html>

